<div class="d-flex justify-content-between align-items-center mb-3 border-bottom-1">
	<h2>دسته ها</h2>
	<div class="btn-group">
		<a href="/admin/categories/create" class="btn btn-sm btn-primary">ایجاد دسته جدید</a>
	</div>
</div>
<div class="table-responsive">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>عنوان دسته</th>
				<th>دسته والد</th>
				<th>تنظیمات</th>
			</tr>
		</thead>
		<tbody>
			<% categories.docs.forEach(category => { %>
				<tr>
					<td><%= category.name %></td>
					<td>
						<% if(category.parent){ %>
						 <%= category.parent.name %>
						<% }else{ %>
							دسته اصلی
						<% } %> 
					</td>
					<td>
						<form action="/admin/categories/<%= category._id %>/?_method=DELETE" method="POST">
							<input type="hidden" name="_method" value="delete">
							<input type="hidden" name="_token" value="<%= category._id %> ">
							<div class="btn-group btn-group-sm">
								<a href="/admin/categories/<%= category._id %>/edit" class="btn btn-primary">ویرایش</a>
								<button type="submit" class="btn btn-danger">حذف</button>
							</div>
						</form>
					</td>
				</tr>
			<% }); %> 
		</tbody>
	</table>
	<%- include(viewPath('layout/pagination'), { pagination: categories }) %> 
</div>