<div class="d-flex justify-content-between align-items-center mb-3 pb-2 border-bottom">
	<h2>ایجاد کاربر</h2>
</div>
<%- include(viewPath('layout/error-messages')) %> 
<form class="form-horizontal" action="/admin/users/create" method="post" >
	<div class="form-group row">
		<div class="col">
			<label for="name" class="control-label font-weight-bold">نام و نام خانوادگی</label>
			<input type="text" class="form-control" name="name" id="name" placeholder="نام و نام خانوادگی را وارد کنید" value="<%= old('name') %> ">
		</div>
		<div class="col">
			<label for="email" class="control-label font-weight-bold">ایمیل</label>
			<input type="text" class="form-control" name="email" id="email" placeholder="ایمیل کاربر را وارد کنید." value="<%= old('email') %> ">
		</div>
	</div>
	<div class="form-group row">
		<div class="col">
			<p>آیا این کاربر ادمین هست یا خیر ؟</p>
			<label for="yes" class="control-label font-weight-bold">بله</label>
			<input type="radio" class="form-control" name="admin" id="yes" <%= old('admin') === true ? 'checked' : ''; %> >
			<label for="no" class="control-label font-weight-bold">رمز عبور</label>
			<input type="radio" class="form-control" name="admin" id="admin" <%= old('admin') === false ? 'checked' : ''; %> >
		</div>
	</div>
	<div class="form-group row">
		<div class="col">
			<label for="password" class="control-label font-weight-bold">رمز عبور</label>
			<input type="text" class="form-control" name="password" id="password" placeholder="رمز عبور را وارد کنید." value="<%= old('password') %> ">
		</div>
	</div>
	<div class="form-group row">
		<div class="col">
			<button type="submit" class="btn btn-danger">ارسال</button>
		</div>
	</div>
</form>