<div class="d-flex justify-content-between align-items-center mb-3 pb-2 border-bottom">
	<h2>ویرایش نقش</h2>
</div>
<form class="form-horizontal" action="/admin/users/roles/<%= role._id %>/?_method=PUT" method="POST" >

	<%- include(viewPath('layout/error-messages')); %> 

	<div class="form-group row">
		<div class="col">
			<label for="name" class="control-label font-weight-bold">عنوان نقش</label>
			<input type="text" class="form-control" name="name" id="name" placeholder="عنوان را وارد کنید" value="<%= role.name %>">
		</div>
	</div>
	<div class="form-group row">
		<div class="col">
			<label for="label" class="control-label font-weight-bold">توضیح نقش</label>
			<input type="text" class="form-control" name="label" id="label" placeholder="عنوان را وارد کنید" value="<%= role.label%>">
		</div>
	</div>
	<div class="form-group row">
		<div class="col">
			<%- include(viewPath('layout/multipleSelect'), {
				containerId: 'permission-select',
				selectOptions: permissions,
				inputName: 'permissions',
				values: JSON.stringify(role.permissions),
				options: {
					multiple: true,
					search: false,
					hiddenInputName: 'permissions',
				}
			}); %> 
		</div>
	</div>
	<div class="form-group row">
		<div class="col">
			<button type="submit" class="btn btn-danger">تایید</button>
		</div>
	</div>
</form>