<div class="row">
	<!-- Blog Post Content Column -->
	<div class="col-lg-8">
		<!-- Title -->
		<h1 class="mb-3"><%= course.title %></h1>
		<!-- Author -->
		<p class="text-muted small">
			<span> توسط <a href="#"><%= course.user.name %> </a></span>
				-
			<span><%= date(course.createdAt).format('LL') %> </span>
		</p>
		<hr>
		<!-- Post Content -->
		<div id="content"><%- course.body %></div>
		<hr>
		<% if(auth.check){
			switch (course.type) {
				case 'vip':
					if(!canUserUse) %>	
						<div class="alert alert-danger">برای مشاهده این دوره نیاز است عضویت ویژه را تهیه کنید</div>            
					<% break;
				case 'cash':
					if(!canUserUse) %>	
						<div class="alert alert-danger">برای مشاهده این دوره نیاز است بصورت نقدی دوره راه تهیه کنید</div>            
					<% break;
				case 'free':
					if(!canUserUse) %>	
						<div class="alert alert-danger">شما باید در این دوره ثبت نام کنید.</div>            
					<% break;
				if (canUserUse) { %>
					<div class="alert alert-danger">شما در این دوره ثبت نام کرده اید.</div>            
				<% }
			}	
		}else { %>
			<div class="alert alert-danger">برای مشاهده این دوره نیاز است ابتدا وارد سایت شوید</div>            
		<% } %> 
		<h3>قسمت های دوره</h3>
		<table class="table table-condensed table-bordered">
			<thead>
				<tr>
					<th>شماره قسمت</th>
					<th>عنوان قسمت</th>
					<th>زمان قسمت</th>
					<th>دانلود</th>
				</tr>
			</thead>
			<tbody>
				<% course.episodes.forEach(episode => { %> 
					<tr>
						<th><a href="<%= episode.videoUrl %>"><%= episode.number %> </a></th>
						<td><%= episode.title %></td>
						<td><%= episode.time %> </td>
						<td>
							<a href="<%= episode.download() %> ">دانلود</a>
						</td>
					</tr>
				<% }); %> 
			</tbody>
		</table>

	<%- include(viewPath('layout/comments'), { subject: course, comments: course.comments }); %>

	</div>
	<!-- Blog Sidebar Widgets Column -->
	<div class="col-md-4">
	<div class="card my-4">
		<div class="card-body">
			<% if(auth.check){ %>
				<% switch (course.type) {
					case 'vip':
						if(canUserUse){ %>
							<p>شما عضو ویژه بوده و می توانید از این دوره بهره ببرید.</p>
						<% }else{ %>
							<p>برای اسفاده از این دوره نیاز است که عضویت ویژه ما را خریداری کنید.</p>
							<form action="#" method="post">
								<input type="hidden" name="" value="">
								<button type="submit" class="btn btn-success">خرید عضویت ویژه</button>
							</form>
						<% }
						break;
					case 'cash':
						if(canUserUse){ %>
							<p>شما این دوره را خریداری کرده و می توانید از آن استفاده کنید.</p>
						<% }else{ %>
							<p>برای استفاده از این دوره نیاز است این دوره را با مبلغ <%= course.price %> تومان خریداری کنید</p>
							<form action="/courses/payment" method="post">
								<input type="hidden" name="course_id" value="<%= course._id %>">
								<button type="submit" class="btn btn-success">خرید دوره</button>
							</form>
						<% }
						break;
					case 'free':
						if(canUserUse){ %>
							<p>شما در این دوره ثبت نام کرده و می توانید از آن استفاده کنید</p>
						<% }else{ %>
							<p>این دوره رایگان بوده و برای استفاده از آن تنها باید ثبت نام کنید.</p>
							<form action="/course/payment" method="post">
								<input type="hidden" name="course_id" value="5b1e4a0ac4cf2d675052a78a">
								<button type="submit" class="btn btn-success">ثبت نام دوره</button>
							</form>
						<% }
						break;
					default:
						break;
				}	
			}else { %>
				<p>برای مشاهده دوره ابتدا وارد شوید.</p>
				<a href="/auth/login" class="btn btn-success" role="button">login</a>
			<% } %>
		</div>
	</div>
		<!-- Search Widget -->
		<div class="card my-4">
			<h5 class="card-header">جستجو</h5>
			<div class="card-body">
			<form class="input-group" action="/courses" method="Get" >
				<input type="text" name="search" class="form-control" placeholder="دنبال چی میگردی ؟">
				<span class="input-group-btn">
				<button class="btn btn-secondary" type="submit">جستجو!</button>
				</span>
			</form>
			</div>
		</div>

		<!-- Categories Widget -->
		<div class="card my-4">
			<h5 class="card-header">دسته بندی ها</h5>
			<div class="card-body">
			<div class="row">
				<div class="col-lg-6">
					<ul class="list-unstyled mb-0">
						<% categories.forEach((category) => { %>
							<li>
								<a href="/courses/?category=<%= category.slug %>"><%= category.name %></a>
								<% if(category.childs){ %>
									<ul>
										<% category.childs.forEach(child => { %>
											<a href="/courses/?category=<%= child.slug %>"><%= child.name %></a>
										<% }); %>
									</ul>
								<% } %>
							</li>
						<% }); %>
					</ul>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>