<%- include(viewPath('/home/panel/head')); %> 

<div style="margin: 20px;">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>مقدار پرداخت</th>
				<th>بابت</th>
				<th>وضعیت پرداخت</th>
			</tr>
		</thead>
		<tbody>
			<% payments.forEach(payment => { %> 
				<tr>
					<% if(!payment.vip) { %> 
						<td><%= payment.product.price %> </td>
						<td><%= payment.product.title %> </td>
					<% }else { %> 
						<td><%= payment.price %> </td>
						<td>vip</td>
					<% } %> 
					<td><%= payment.status %> </td>
				</tr>
			<% }) %> 
		</tbody>
	</table>
</div>